# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# autoconf and automake
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
configure
depcomp
install-sh
missing
ylwrap
